@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Times New Roman', sans-serif;
}

/* Parent Container Styles*/

.container {
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    grid-template-rows: 100px calc(100vh - 100px);
}

.sidebar {
    position: relative;
    background-color: lightblue;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/* Header Style */

header {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    background-color: lightcoral;
    grid-column: 1 / 3;
    padding: 30px;
    cursor: default;
}


/* Main Sidebar Content Styles */
.navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    padding: 20px;
}

.navigation>li {
    font-size: 24px;
    list-style-type: none;
}

#nav-home {
    cursor: pointer;
}

#nav-today {
    cursor: pointer;
}

#nav-week {
    cursor: pointer;
}

.nav-projects-title {
    font-weight: bold;
    cursor: default;
}

.nav-projects {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

li {
    list-style: none;
}


.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.add:hover {
    background-color: lightgreen;
    border-color: red;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 2 / 3;
}

.task-card {
    display: flex;
    width: 750px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
}

.task-details {
    border: 5px solid lightgreen;
    padding: 5px;
}

/*Create New Popup Styles*/
form {
    height: 480px;
    width: 960px;
    margin: 50px;
}

textarea {
    resize: none;
}

.create-new-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightpink;
    padding: 10px;
}

.closeIconButton {
    height: 25px;
    width: 25px;
}

.create-new-close {
    cursor: pointer;
    margin: 10px;
}

.create-new-content {
    display: flex;
    height: calc(480px - 61.5px);
}

.create-new-sidebar {
    background-color: lightslategray;
    width: 135px;
    padding: 1rem;
    border-right: 1px solid black;
    margin-right: 10px;
}

.create-new-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.create-new-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: calc(960px - 168px);
}

.create-new-input {
    height: 50px;
    border: 0;
}

.create-new-input-big {
    height: 200px;
    border: 0;
}

.create-new-date {
    display: flex;
    padding-top: 20px;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

#new-todo-date {
    height: 25px;
    width: 125px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
}

.create-new-priority-wrapper-submit {
    display: flex;
    justify-content: space-between;
}

.create-new-priority {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.create-new-priority-title {
    font-size: 18px;
}

.create-new-low {
    color: green;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.create-new-low:hover {
    color: white;
    background-color: green;
}

.create-new-medium {
    color: orange;
    padding: 5px 10px;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

.create-new-medium:hover {
    color: white;
    background-color: orange;
}

.create-new-high {
    color: red;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.create-new-high:hover {
    color: white;
    background-color: red;
}

input[type="radio"] {
    display: none;
}

.create-new-todo-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid green;
    padding: 10px;
    color: green;
    cursor: pointer;
}

.create-new-todo-submit:hover {
    color: white;
    background-color: green;
}

.create-new-project-submit {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: white;
    border: 1px solid green;
    padding: 10px;
    color: green;
    cursor: pointer;
}

.create-new-project-submit:hover {
    color: white;
    background-color: green;
}